body{
    margin: 0;
    background-color: #EEEEEE;
    font-family: 'roboto';
}
#nav-bar a{
    text-decoration: none;
    color: #3C3C3C;
    margin-right: 1rem;
    

}
#nav-bar{
    position: absolute;
    width: 319px;
    height: 24px;
    left: 979px;
    top: 37px;
}
.bebas-font{
    font-family:'bebas neue',sans-serif;
    font-weight: 700;
    font-size: 70px;
    
}
.intro-text{
    width: 309px;
    height: 48px;
    margin-left: 138px;
}
.orange-text{
    color: orangered;
}
.half-width{
    float: left;
    
}
#intro{
    margin-top: 180px;
    margin-left: 135px;
    width: 348px;
    height: 160px;
}
#photo-top{
    position: absolute;
    width: 550px;
    height: 613px;
    left: 720px;    
    top: 60px;

}
#photo-bottom{
    position:absolute;
    width: 576px;
    height: 583px;
    margin-left: 123px;
    top: 544px;
}
.float-left{
    float:left;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(31, 37, 58),rgb(165, 83, 16));
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}
.about-section{
    margin-left: 831px;
    margin-top:300px;

}
.center-text{
    text-align: center;
}
#project-area h1{
    margin-top: 300px;
}
.project img{
    width: 343.54px;
    height: 213.23px;
    border-radius: 10px;
    

}
.project{
    float: left;
    width: 350px;
    height: 374px;
    margin-left: 90px;
    margin-right: 60px;
    background: #FFFFFF;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
    border-radius: 19px;
    padding-left:5px;
    padding-top: 5px;

}
.project a{
    text-decoration: none;
    color: black;
}

.rectangle{
    width: 960px;
    height: 225px;
    display: inline-block;
    margin-left: 280px;
    margin-top: 135px;
    background: linear-gradient(138.38deg, #5D69E9 -7.79%, #4225B6 98.72%);
    border-radius: 30px;
}
.rectangle h1{
    color: white;
    position: absolute;
    margin-left: 70px;
    margin-top: 80px;
}

#inquiry-area a{
    position: absolute;
    left: 972px;
    margin-top: 105px;
}
#footer-area{
   text-align: center;
   margin-top: 50px;
   margin-bottom: 81px;
   
    
}
#footer-color{
    color: #696871;
    ;
}
#footer-area img{
    width: 40px;
    height: 40px;
    padding-left: 27px;
}